<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Automation" parallel="methods" thread-count="8">
   <!-- <listeners>
        <listener class-name="listners.MyTransformer"/>
    </listeners>-->



    <test name="Test Chrome Automation">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="UATPages.Runner"/>
        </classes>
    </test>

   <!-- <test name="Test Edge Automation">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="UATPages.Runner"/>
        </classes>
    </test>-->

</suite> <!-- Suite -->